<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>

    <ion-title *ngIf="showLog === true">
      Login
    </ion-title>
    
    <ion-title *ngIf="showReg === true">
        Register
      </ion-title>

  </ion-navbar>
</ion-header>

<ion-content padding>
  <!-- Displays login page if no user is logged in -->
 <ion-list *ngIf="userProvider.userID === null && showLog === true">

  <ion-item>
    <ion-input type="text" placeholder="Email" [(ngModel)]="user.email"></ion-input>
  </ion-item>

  <ion-item>
    <ion-input type="password" placeholder="Password" [(ngModel)]="user.password"></ion-input>
  </ion-item>

  <button ion-button (click)="onLogin()">Login</button>
  <button ion-button (click)="showReg = true; showLog = false">Create an Account</button>

</ion-list>
<!-- Displays if user is logged in -->
<button *ngIf="userProvider.userID != null && showLog === true" ion-button (click)="onLogout()">Logout</button>
<button *ngIf="userProvider.userID != null && showLog === true" ion-button (click)="showReg = true; showLog = false">Create an Account</button>

<!-- Displays register information -->
<ion-list *ngIf="showReg === true">

    <ion-item>
        <ion-input type="text" placeholder="First Name" [(ngModel)]="user.firstName"></ion-input>
      </ion-item>
    
      <ion-item>
        <ion-input type="text" placeholder="Last Name" [(ngModel)]="user.lastName"></ion-input>
      </ion-item>

    <ion-item>
      <ion-input type="text" placeholder="Email" [(ngModel)]="user.email"></ion-input>
    </ion-item>
  
    <ion-item>
      <ion-input type="password" placeholder="Password" [(ngModel)]="user.password"></ion-input>
    </ion-item>
  
    <button ion-button (click)="onRegister()">Register</button>
    <button ion-button (click)="showLog = true; showReg = false">Back to Login</button>

  </ion-list>
</ion-content>