<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Nearby Parks</ion-title>
  </ion-navbar>
</ion-header>

<ion-content *ngIf = "mapProvider.list.length > 0" >
 
  <ion-list>

      <ion-item *ngFor="let place of mapProvider.list" (click)="itemTapped($event, place)">
          <ion-icon name="pin" item-start></ion-icon>
          {{place.name}}
          <button ion-button icon-only clear (click)="saveItem(place, $event)"><ion-icon name="star"></ion-icon></button>
        </ion-item>




    <button ion-item *ngFor="let place of mapProvider.list" (click)="itemTapped($event, place)">
      <ion-icon name="pin" item-start></ion-icon>
      {{place.name}}
      <button ion-button icon-end>
        Right Icon
        <ion-icon name="star"></ion-icon>
      </button>
    </button>
  
  </ion-list>

  

</ion-content>
<ion-content *ngIf = "mapProvider.list.length === 0" >
 
    <ion-list>
      
        <div class= item-start>
          <br>
            <ion-icon name="pin" item-start></ion-icon>
            No locations yet. Go to Map to get some places of interest!
          </div>
    
    </ion-list>
  
    
  
  </ion-content>
