<ion-header>
    <ion-navbar>
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
      <ion-title>Favorites</ion-title>
    </ion-navbar>
  </ion-header>
  
  <ion-content *ngIf = "user.faveList.length > 0" >
   
    <ion-list>
  
        <button ion-item *ngFor="let place of user.faveList" (click)="itemTapped($event, place)">
            <ion-icon name="pin" item-start></ion-icon>
            {{place.name}}
            <button *ngIf="user.userID != null"ion-button icon-only clear item-end (click)="deleteItem($event, place)">Delete<ion-icon name="trash"></ion-icon></button>

        </button>
    
    </ion-list>
  
    
  
  </ion-content>
  <ion-content *ngIf = "user.faveList.length === 0" >
   
      <ion-list>
        
          <div class= item-start>
            <br>
              <ion-icon name="pin" item-start></ion-icon>
              No favorites yet.
            </div>
      
      </ion-list>
    
      
    
    </ion-content>
  